In [1]:
import pandas as pd

In [2]:
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [3]:
census_data = pd.read_csv("acs2017_census_tract_data.csv")
census_data.head(10)

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3
5,1001020600,Alabama,Autauga,3620,1765,1855,3.0,70.7,25.1,0.0,...,0.7,3.5,8.0,21.1,1364,84.0,14.1,1.9,0.0,6.1
6,1001020700,Alabama,Autauga,3420,1459,1961,4.0,78.0,13.7,0.6,...,0.0,0.0,0.0,16.4,1418,77.4,17.6,5.0,0.0,16.9
7,1001020801,Alabama,Autauga,2913,1495,1418,4.2,86.3,7.1,1.5,...,0.0,0.7,5.2,24.6,1369,72.7,17.5,8.8,1.0,7.2
8,1001020802,Alabama,Autauga,11333,5488,5845,1.4,81.8,15.3,0.0,...,0.0,0.0,2.2,27.4,4857,70.1,22.5,7.4,0.0,2.2
9,1001020900,Alabama,Autauga,6167,3111,3056,1.0,86.2,9.7,0.8,...,0.0,5.0,5.9,35.6,2781,80.4,14.5,5.0,0.0,6.8

In [4]:
covid_data = pd.read_csv("COVID_county_data.csv")
covid_data.head(10)

         date       county       state     fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061.0      1     0.0
1  2020-01-22    Snohomish  Washington  53061.0      1     0.0
2  2020-01-23    Snohomish  Washington  53061.0      1     0.0
3  2020-01-24         Cook    Illinois  17031.0      1     0.0
4  2020-01-24    Snohomish  Washington  53061.0      1     0.0
5  2020-01-25       Orange  California   6059.0      1     0.0
6  2020-01-25         Cook    Illinois  17031.0      1     0.0
7  2020-01-25    Snohomish  Washington  53061.0      1     0.0
8  2020-01-26     Maricopa     Arizona   4013.0      1     0.0
9  2020-01-26  Los Angeles  California   6037.0      1     0.0

In [5]:
covid_data = covid_data.rename(columns={"state": "State", "county": "County"})
covid_data.head()

         date     County       State     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [6]:
census_data.groupby(["State","County"]).sum()

                         TractId  TotalPop    Men   Women  Hispanic   White  \
State   County
Alabama Autauga      12012247403     55036  26899   28137      37.1   867.9
        Baldwin      32097330873    203360  99527  103833     124.4  2580.6
        Barbour       9053554500     26201  13976   12225      36.5   414.2
        Bibb          4028040010     22580  12251   10329       8.9   317.6
        Blount        9081453506     57667  28490   29177      88.8   779.8
...                          ...       ...    ...     ...       ...     ...
Wyoming Sweetwater  672455650809     44527  22981   21546     191.4   959.3
        Teton       224159870803     22923  12169   10754      56.1   330.3
        Uinta       168125925900     20758  10593   10165      26.6   263.8
        Washakie    168129000803      8253   4118    4135      44.1   245.3
        Weston      112091902400      7117   3756    3361       3.1   183.0

                    Black  Native  Asian  Pacific  ...  Walk  OtherTransp  \
State   County                                     ...
Alabama Autauga     259.3     4.8    7.5      0.4  ...   8.4         17.3
        Baldwin     310.6    27.5   16.8      0.0  ...  26.4         41.9
        Barbour     430.7     1.3    4.4      0.0  ...  22.4         14.4
        Bibb         70.2     1.5    0.0      0.0  ...   2.0          7.4
        Blount       12.0     3.2    1.2      0.0  ...   4.0          3.1
...                   ...     ...    ...      ...  ...   ...          ...
Wyoming Sweetwater    8.2     7.2    7.8      4.9  ...  41.6         15.3
        Teton         1.8     1.1    8.6      0.0  ...  46.4         18.2
        Uinta         0.4     2.6    0.3      0.0  ...   3.3          4.1
        Washakie      0.8     1.1    0.4      0.0  ...  21.4          4.3
        Weston        1.0     0.2    8.4      0.0  ...   5.8          3.4

                    WorkAtHome  MeanCommute  Employed  PrivateWork  \
State   County
Alabama Autauga           30.9        309.2     24112        900.0
        Baldwin          183.7        838.7     89527       2491.0
        Barbour           11.0        204.7      8878        665.8
        Bibb               7.1        124.8      8171        310.2
        Blount            17.2        315.1     21380        751.7
...                        ...          ...       ...          ...
Wyoming Sweetwater        17.0        248.5     22739        933.4
        Teton             22.7         57.8     14492        329.4
        Uinta              6.2         60.7      9528        214.7
        Washakie          11.7         43.6      3833        208.4
        Weston            13.5         52.0      3407        135.9

                    PublicWork  SelfEmployed  FamilyWork  Unemployment
State   County
Alabama Autauga          231.0          66.9         1.7          71.7
        Baldwin          396.1         210.8         2.2         192.8
        Barbour          176.5          55.3         2.5         106.8
        Bibb              65.3          21.3         3.2          35.1
        Blount           110.4          36.2         1.3          42.9
...                        ...           ...         ...           ...
Wyoming Sweetwater       219.1          47.4         0.0          72.6
        Teton             43.6          26.9         0.0           7.0
        Uinta             64.3          19.9         1.1          19.2
        Washakie          66.8          24.3         0.4          19.1
        Weston            44.0          17.9         2.2           4.1

[3220 rows x 35 columns]

In [7]:
covid_data.groupby(["State","County"]).sum()

                        fips    cases   deaths
State   County
Alabama Autauga     334334.0   645935   9042.0
        Baldwin     345032.0  2003567  23041.0
        Barbour     325620.0   268771   4077.0
        Bibb        330296.0   261043   5272.0
        Blount      335997.0   630106   8669.0
...                      ...      ...      ...
Wyoming Teton     19053260.0   305376    617.0
        Uinta     18213325.0   200783   1037.0
        Unknown          0.0       37      0.0
        Washakie  18550233.0    84354   2622.0
        Weston    15132150.0    56976    286.0

[3274 rows x 3 columns]

In [14]:
joined_data = pd.merge(census_data.groupby(["State","County"]).sum(),covid_data.groupby(["State","County"]).sum(),how="inner",on=["State","County"])
joined_data

                         TractId  TotalPop    Men   Women  Hispanic   White  \
State   County
Alabama Autauga      12012247403     55036  26899   28137      37.1   867.9
        Baldwin      32097330873    203360  99527  103833     124.4  2580.6
        Barbour       9053554500     26201  13976   12225      36.5   414.2
        Bibb          4028040010     22580  12251   10329       8.9   317.6
        Blount        9081453506     57667  28490   29177      88.8   779.8
...                          ...       ...    ...     ...       ...     ...
Wyoming Sweetwater  672455650809     44527  22981   21546     191.4   959.3
        Teton       224159870803     22923  12169   10754      56.1   330.3
        Uinta       168125925900     20758  10593   10165      26.6   263.8
        Washakie    168129000803      8253   4118    4135      44.1   245.3
        Weston      112091902400      7117   3756    3361       3.1   183.0

                    Black  Native  Asian  Pacific  ...  MeanCommute  Employed  \
State   County                                     ...
Alabama Autauga     259.3     4.8    7.5      0.4  ...        309.2     24112
        Baldwin     310.6    27.5   16.8      0.0  ...        838.7     89527
        Barbour     430.7     1.3    4.4      0.0  ...        204.7      8878
        Bibb         70.2     1.5    0.0      0.0  ...        124.8      8171
        Blount       12.0     3.2    1.2      0.0  ...        315.1     21380
...                   ...     ...    ...      ...  ...          ...       ...
Wyoming Sweetwater    8.2     7.2    7.8      4.9  ...        248.5     22739
        Teton         1.8     1.1    8.6      0.0  ...         57.8     14492
        Uinta         0.4     2.6    0.3      0.0  ...         60.7      9528
        Washakie      0.8     1.1    0.4      0.0  ...         43.6      3833
        Weston        1.0     0.2    8.4      0.0  ...         52.0      3407

                    PrivateWork  PublicWork  SelfEmployed  FamilyWork  \
State   County
Alabama Autauga           900.0       231.0          66.9         1.7
        Baldwin          2491.0       396.1         210.8         2.2
        Barbour           665.8       176.5          55.3         2.5
        Bibb              310.2        65.3          21.3         3.2
        Blount            751.7       110.4          36.2         1.3
...                         ...         ...           ...         ...
Wyoming Sweetwater        933.4       219.1          47.4         0.0
        Teton             329.4        43.6          26.9         0.0
        Uinta             214.7        64.3          19.9         1.1
        Washakie          208.4        66.8          24.3         0.4
        Weston            135.9        44.0          17.9         2.2

                    Unemployment        fips    cases   deaths
State   County
Alabama Autauga             71.7    334334.0   645935   9042.0
        Baldwin            192.8    345032.0  2003567  23041.0
        Barbour            106.8    325620.0   268771   4077.0
        Bibb                35.1    330296.0   261043   5272.0
        Blount              42.9    335997.0   630106   8669.0
...                          ...         ...      ...      ...
Wyoming Sweetwater          72.6  18716358.0   323730   2239.0
        Teton                7.0  19053260.0   305376    617.0
        Uinta               19.2  18213325.0   200783   1037.0
        Washakie            19.1  18550233.0    84354   2622.0
        Weston               4.1  15132150.0    56976    286.0

[3068 rows x 38 columns]