In [12]:
import pandas as pd

In [13]:
# existence assertion: 1. Light condition is available in all the records. 
#2. Week day record is found in all the records.
df = pd.read_csv("Hwy26Crashes2019.csv")
df.head(20)

,Crash ID,Record Type,Vehicle ID,Participant ID,Participant Display Seq#,Vehicle Coded Seq#,Participant Vehicle Seq#,Serial #,Crash Month,Crash Day,...,Participant Cause 2 Code,Participant Cause 3 Code,Participant Event 1 Code,Participant Event 2 Code,Participant Event 3 Code,BAC Test Results Code,Alcohol Use Reported,Drug Use Reported,Participant Marijuana Use Reported,Participant Striker Flag
0,1809119,1,NaN,NaN,NaN,NaN,NaN,99992.0,3.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1809119,2,3409578.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1809119,3,3409578.0,3887884.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,0.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1809119,2,3409579.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1809119,3,3409579.0,3887885.0,2.0,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,9.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN
5,1809229,1,NaN,NaN,NaN,NaN,NaN,2405.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1809229,2,3409765.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1809229,3,3409765.0,3888073.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
8,1809229,3,0.0,3888074.0,2.0,NaN,1.0,NaN,NaN,NaN,...,NaN,0.0,9.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
9,1809637,1,NaN,NaN,NaN,NaN,NaN,1811.0,5.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1809637,2,3410470.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1809637,3,3410470.0,3888766.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,0.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
12,1810874,1,NaN,NaN,NaN,NaN,NaN,99981.0,4.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1810874,2,3412622.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1810874,3,3412622.0,3890872.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15,1810874,3,0.0,3890873.0,2.0,NaN,1.0,NaN,NaN,NaN,...,NaN,0.0,9.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
16,1812266,1,NaN,NaN,NaN,NaN,NaN,5970.0,7.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1812266,2,3415030.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1812266,3,3415030.0,3893223.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,86.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN
19,1812266,2,3415031.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#Light Condition
print(pd.notnull(df["Light Condition"]).all())

False

In [15]:
# Week Day Code
print(pd.notnull(df["Week Day Code"]).all())

False

In [16]:
#limit assertions
#crash Day
crash_day = df[["Crash Day"]]
crash_day.head(20)

    Crash Day
0        14.0
1         NaN
2         NaN
3         NaN
4         NaN
5         3.0
6         NaN
7         NaN
8         NaN
9        17.0
10        NaN
11        NaN
12        7.0
13        NaN
14        NaN
15        NaN
16        8.0
17        NaN
18        NaN
19        NaN

In [17]:
crash_day = crash_day[crash_day.notnull()]
if len(crash_day) == len(crash_day[crash_day >= 1][crash_day <= 31]):
	print("Crash Day Assertion Succeded")
else:
	print("Crash Day Assertion Failed. All the days aren't in the range of 1 - 31")

Crash Day Assertion Succeded

In [18]:
#crash month
crash_Month = df[["Crash Month"]]
crash_Month

      Crash Month
0             3.0
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
2734          5.0
2735          NaN
2736          NaN
2737          NaN
2738          NaN

[2739 rows x 1 columns]

In [19]:
crash_Month = crash_Month[crash_Month.notnull()]
if len(crash_Month) == len(crash_Month[crash_Month >= 1][crash_Month <= 12]):
	print("Crash Month Assertion Succeded")
else:
	print("Crash Month Assertion Failed. All the Months aren't in the range of 1 - 12")

Crash Month Assertion Succeded

In [20]:
#summary assertions 1
if len(df["Crash ID"]) == len(pd.unique(df["Crash ID"])):
	print("Every Crash has a unique ID")
else:
	print("Every Crash doesn't have a unique ID")

Every Crash doesn't have a unique ID

In [21]:
#summary assertions 2
print(f"Record Type is always in {pd.unique(df['Record Type'])}")

Record Type is always in [1 2 3]