In [1]:
import pandas as pd

In [2]:
# existence assertion: 1. Light condition is available in all the records. 
#2. Week day record is found in all the records.
df = pd.read_csv("Hwy26Crashes2019.csv")

In [3]:
#Light Condition
print(pd.notnull(df["Light Condition"]).all())

False

In [4]:
# Week Day Code
print(pd.notnull(df["Week Day Code"]).all())

False

In [14]:
#limit assertions
#crash Day
crash_day = df[["Crash Day"]]
crash_day.head(20)

    Crash Day
0        14.0
1         NaN
2         NaN
3         NaN
4         NaN
5         3.0
6         NaN
7         NaN
8         NaN
9        17.0
10        NaN
11        NaN
12        7.0
13        NaN
14        NaN
15        NaN
16        8.0
17        NaN
18        NaN
19        NaN

In [15]:
crash_day = crash_day[crash_day.notnull()]
if len(crash_day) == len(crash_day[crash_day >= 1][crash_day <= 31]):
	print("Crash Day Assertion Succeded")
else:
	print("Crash Day Assertion Failed. All the days aren't in the range of 1 - 31")

Crash Day Assertion Succeded

In [16]:
#crash month
crash_Month = df[["Crash Month"]]
crash_Month

      Crash Month
0             3.0
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
2734          5.0
2735          NaN
2736          NaN
2737          NaN
2738          NaN

[2739 rows x 1 columns]

In [17]:
crash_Month = crash_Month[crash_Month.notnull()]
if len(crash_Month) == len(crash_Month[crash_Month >= 1][crash_Month <= 12]):
	print("Crash Month Assertion Succeded")
else:
	print("Crash Month Assertion Failed. All the Months aren't in the range of 1 - 12")

Crash Month Assertion Succeded

In [18]:
#summary assertions 1
if len(df["Crash ID"]) == len(pd.unique(df["Crash ID"])):
	print("Every Crash has a unique ID")
else:
	print("Every Crash doesn't have a unique ID")

Every Crash doesn't have a unique ID

In [19]:
#summary assertions 2
print(f"Record Type is always in {pd.unique(df['Record Type'])}")

Record Type is always in [1 2 3]